body{
    margin:0%;
    padding: 0%;
    font-family: Roboto;
    font-family: Geneva, sans-serif;
   
    
}

.header{
    height: 70px;
    /*background-color: rgb(46, 131, 196);*/
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 50;
    
}
.logoimg{
    height:100px;
    margin-top: -10px;
    margin-left: 10px;
    
}
.logoimg1{
    height:110px;
    margin-top: -20px;
    margin-left: 10px;
    display: none;
    width: 120px;
}
.searchbar{
   margin-top: -60px; 
   margin-left: 70px;
    
}
ul{
    float: right;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
li{
    float: right;
    margin-right: 10px;
}
.carticon{
    height: 30px;
    
}
.carticon1{
    height: 30px;
    
    display: none;
}
.profileicon{
    height: 35px;
    
}
.profileicon1{
    height: 35px;
    
    display: none;
}
.icons{
    margin-right: 40px;
    margin-top: -20px;
}
.categories{
    margin-right: 120px;
    margin-top: -10px;
}
.men{
    margin-left: 40px;
    height: 40px;
}
#toggle{
    vertical-align: 10px;
    margin-right: 20px;
}
.search{
    height:34px;
    margin-top: -10px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: transparent;
    margin-left: 10px;
    cursor: pointer;
    font-size: 15px;
    font: black;
    
    outline-color: transparent;
    outline-style: none;

}
.searchicon{
    width: 15px;
    vertical-align: -3px;
    margin-right: -10px;
    margin-left: 70px;
    cursor: pointer;
}
.searchicon1{
    width: 17px;
    vertical-align: -3px;
    margin-right: -10px;
    margin-left: 70px;
    cursor: pointer;
    display: none;
}
:hover.search {
    border-color: black
}

::placeholder { 
    color:black
}
.header2{
    height: 250px;
    background-color: #008afc;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}
.SHIPPING{
    font-weight: 200;
    height: 5px;
    margin-top: 20px;
    
}
h4{
    height:10px;
   
}
.buttons{
    margin-bottom: -50px;
    padding-top: 20px;
}
.btn{
    width: 200px;
    margin-left: 50px;
    height: 30px;
    background-color: transparent;
    border-color: white;
    
    border:1px solid white;
    cursor: pointer;
    
}
:hover.btn{
    background-color: white;
}

.main{
    display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-top: -10px;
      
      
}


.footer{
    background-color: #343a40;
    /*background-color: black;*/
    height: 300px;
    color: white;
    
    display: grid;
    grid-template-columns: 300px 200px 200px;
    
    
}
.f2{
    display: grid;
    grid-template-columns: 300px 200px 200px;
    margin-left: 300px;
    margin-top: 50px;
    font-weight: 100;
}
.social {
    line-height: 2.5;
}
.faq{
    line-height: 2.5;
}
.mail{
    margin-top: 10px;
    line-height: 0.5;
}
.inputemail{
    height: 25px;
    background-color: transparent;
    border-width: 0.5px;
    border-color: black;
    text-align: center;

    
}
:hover.inputemail{
    text-decoration: underline;
}
.emailsub{
    height: 30px;
    width: 175px;
    margin-top: 10px;
    background-color: #0091f7;
    border: none;

    
}
:hover.emailsub{
    background-color: #ae2012;
    text-decoration: underline;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
    margin-right: 20px;
    
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.profileicon:hover .dropdown-content {
    display: block;
    

}

.dropdown-content a:hover {
    background-color: #C29745;
}
.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
    left: 0;
    margin-top: 20px;
    height: 250px;
    
}
.dropdown-content3 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
     
}

.men:hover .dropdown-content3 {
    display: block;
    

}


.dropdown-content3 a:hover {
    background-color: #C29745;
}
.dark{
    background-color: transparent;
    border: none;
    margin-left: 50px;
}
.darkbtn{
    height: 20px;
    cursor: pointer;
}
.darkbtn1{
    height: 20px;
    display: none;
    cursor: pointer;
}


/*////////////////////////DARK MODE//////////////////////////*/
.mode .header {
    background-color: #343a40;
}
.mode .carticon1{
    display: inline;
}
.mode .carticon{
    display: none;
}
.mode #toggle{
    color: white;
}
.mode .profileicon1{
    display: inline;
}
.mode #profileicon{
    display: none;
}
.mode .men1{
    color: white;
}
.mode .searchicon1{
    display: inline;
}
.mode .searchicon{
    display: none;
}
.mode .header2{
    height: 250px;
}
.mode .search {
    font: white;
    border-color: white;
}
.mode ::placeholder{
    color: white;
}
.mode .logoimg1{
    display: inline;
}
.mode .logoimg{
    display: none;
}
.mode .main{
    background-color: #343a40;
}
.mode hr{
    border-color: #343a40;
}
.mode .main2{
    background-color: #343a40;
}
.mode .swiper-slide{
    background-color: #343a40;
}
.mode .swiper-slide .images{
    background-color:  #323F4B;
}
.mode .cart-item-image{
    background-color:  #323F4B;
}


.mode .footer{
    background-color: #121212;
}
.mode .faq{
    background-color: #121212;
}
.mode .social{
    background-color: #121212;
}
.mode .mail{
    background-color: #121212;
}
.mode .inputemail{
    border-color: white;
}
.mode .header2{
    background-color: #00437A;
}
.mode .dropdown-content{
    background-color: #343a40;
}
.mode .dropdown-content3{
    background-color: #343a40;
}
.mode .btn{
    color: white;
}
.mode a {
    color: white;
}
.mode .new{
    color: #C29745;
}
.mode .trending{
    color: #C29745;
}
.mode .shopallbtn{
    background-color: #00437A;
}
.mode .emailsub{
    background-color: #00437A;
}
.mode :hover.emailsub{
    background-color:#ae2012;
}
.mode :hover.btn{
    background-color:#343a40;
}
.mode .darkbtn1{
    display: inline;
}
.mode .darkbtn{
    display: none;
}
.mode .cart-quantity-input{
    background-color: #343a40;
    border: 1px solid black;
}
.mode .llll{
    background-color: #343a40;
}
.mode .purchasebtn{
    background-color: #343a40;
}
.mode .purchase{
    background-color: #343a40;
}



/*////////////////////////crat/////////////////////////////*/
.QPD{
    margin-top: -30px;
    margin-right: 250px;
}
.QP{
    margin-right: 100px;
}
.item{
    margin-top: 50px;
    margin-left:-850px;
}

.description{
    display:flex;
    
    margin-left: 200px;
}
.cart-item-image{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin-left: 0px;
    margin-top: 30px;
    background-color: #dedede;
}
.cart-item-title{
    max-width: 25ch;
    margin-left: 40px;
    margin-top: 30px;
}
.cart-price{
    max-width: 25ch;
    margin-left: 820px;
    margin-top: -200px;
    color: #C29745;
}
.cart-quantity{
    margin-left: 970px;
    margin-top: -40px;
    
}
.cart-quantity-input{
    width: 40px;
    height: 30px;
}
.btnnn{
    margin-top: 120px;
    margin-left: 950px;
    height: 50px;
    width: 150px;
    background-color: #FF6200;
    border-color:  transparent;
    cursor: pointer;
    margin-bottom: 50px;
}
.cart-total{
    margin-left: 950px;
    
}
.cart-total-title{
    margin-right: 50px;

}
#main2{
    border-bottom: 0.05px solid black;
    
}
.main2{
    border-bottom: 0.05px solid black;
    
    
}
:hover.btnnn{
    opacity: 0.8;
    border: 1px solid black;
}
.llll{
    padding-top: 50px;
    height: 100px;
}
.purchasebtn{
    margin-left: 600px;
    
}
.btn-purchase{
    height: 50px;
    width: 150px;
    background-color:#008afc;
    border: 1px solid black;
    cursor: pointer;
}
:hover.btn-purchase{
    opacity: 0.8;
}
:active.btn-purchase{
    margin-top: 5px;
}
.purchase{
    padding-bottom: 50px;
}